@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh; /* changed from 100% to 100vh */
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #37575f, #d1c1c1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3d626b, #c9c0c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
}
.weatherapp{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 90vh;
    gap: 15px;
    border-radius: 28px;
    padding: 30px;
    background: #D3959B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.tittle{
    height: 16%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color:rgb(3, 0, 0);
    background-color: transparent;
    border: 1px solid grey;
    box-shadow: 5px 5px 10px rgb(82, 78, 78) ;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.weather-main{
    display: block;
    width: 55%;
    height: 80%;
    background: transparent;
    box-shadow: 5px 5px 10px rgb(82, 78, 78) ;
    border: 1px solid grey;
    border-radius: 18px;
}
.weather-details{
    display: block;
    width: 43%;
    height: 80%;
    background: transparent;
    box-shadow: 5px 5px 10px rgb(82, 78, 78) ;
    border-radius: 18px;
}
.search{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: 20%;
    justify-content: center;
    align-items: center;
    
}
.search input{
    width: 75%;
    height: 50px;
    border: none;
    border-radius: 28px;
    padding: 0px 20px;
    font-size: 15px;
    background-color: rgb(235, 232, 232);
    outline: 0;
}
.search button{
    background-color: rgb(235, 232, 232);
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.search button img{
    margin-top: -10px;
    width: 50px;
}
.citytemp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
#city{
    font-size: 40px;
}
#temp{
    font-size: 60px;
}
.weather-mainimg{
    display: block;
    height: 59%;
    
    width: 100%;
    justify-content: center;
    align-items: center;
}
.weather-mainimg img{
    width: 65%;
    margin: -60px 0px 0px 70px ;
}
.weather-details{
    display: block;
    padding: 10px;
}
.col{
    display: flex;
    border-bottom: 1px solid grey;
    height: 13%;
    margin-bottom: 6px;
    gap: 10px;
}
.col-img{
    height: 100%;
    width: 40px;
    display: flex;

    margin-left: 10px;

}
.col-txt{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    padding: 5px 40px ;
    

}
.col-txt h2{
    font-size: 20px;
}


@media screen and (max-width: 600px){
    body{
        width: 100%;
        height: 100%;
    }
    .weatherapp{
        margin: 10px;
        padding: 10px;
        height: 100%;
        width: 96%;
    }
    .tittle{
        height: auto;
        padding: 10px;
        text-align: center;
    }
    .weather-main{
        display: block;
        flex-wrap: wrap;
        width: 100vw;
        height: auto;
    }
    .citytemp{
        text-align: center;
        margin: 5px;
        height: auto;
    }
    .weather-details{
        width: 100%;
        height: auto;
    }

}
@media screen and (min-width:768px){

}
@media screen and (min-width:99
