@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: url("/media/mainimg.jpg") no-repeat center;
    background-size: cover;
    filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: -2222;
}
.weather-main{
    width: 80vw;
    height: 70vh;
    /* background-color: rgba(176, 225, 225, 0.622); */
    background: url("/media/clouds3.jpg") no-repeat center;
    background-size: cover;
    position: fixed;
    top: 100px;
    left: 130px;
    border-radius: 18px;
    gap: 20px;
}
.search{
    width: 60%;
    display: flex;
    padding: 20px 20px;
    padding-left: 40px;
    gap: 10px;
}
.search input{
    width: 80%;
    height: 45px;
    border: none;
    padding: 0px 20px;
    font-size: 15px;
    border-radius: 28px;
}
.search button{
    background: none;
    border: none;
    width: 15%;
    
    
}
.search button img{
    width: 50px;
    height: 50px;  
    cursor: pointer; 
}
.main{
    display: block;
    width: 60%;
    height: 76%;
}
.main img{
    margin-top: -60px;
    margin-left: 50px;
}
.main h1{
    margin-top: -20px;
    font-size: 40px;
    padding-left: 50px;
}
#temp{
    font-size: 60px;
}